body {
  margin: 0;
  padding: 0;
}

a {
  list-style: none;
  color: black;
}

button,
select {
  text-decoration: none;
  color: red;
  font-family: Roboto, "sans-serif";
  font-size: 1.2rem;
  box-shadow: 6px -5px #803C80;
}

label {
  width: 200px;
  display: block;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

nav {
  color:aquamarine;
  background-color: #A92369;
  width: 100%;
  margin: none;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}


nav li {
  list-style: none;
  color: white;
  font-size: 24px;
  font-weight: 1000;
}

.card {
  width: 400px;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #94a7c8;
  border-radius: 4px;
}

.ProjectCard h3::after {
  content: url("https://education-team-2020.s3.eu-west-1.amazonaws.com/web-dev/m3/icon-expand.png");
  margin-left: 5px;
}

.EditProjectPage,
.AddProject,
.AddTask,
.SignupPage,
.LoginPage {
  background: #f9eec3;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}

.EditProjectPage {
  background-color: rgb(239, 196, 88);
}

.SignupPage,
.LoginPage {
  background-color: #608dd5;
}

.LoginPage {
  background-color: #94a7c8;
}

.EditProjectPage form,
.AddTask form,
.AddProject form,
.SignupPage form,
.LoginPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddTask button,
.AddProject button {
  display: block;
}

.TaskCard {
  background-color: #dfeef9;
}
.LoginPage {
  border-radius: 20px;
  margin-top: -40px;
  margin-top: 2em;
  padding-top: -30;
  font-size: 1.7rem;
  color: #502435;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* css Login Page */
.form-container{ font-family: 'Overpass', sans-serif; margin-top: 6em; }
.form-container .form-horizontal {
  background: linear-gradient(to right,#e74d5c,#A92369 40%);
  width: 350px;
  height: 350px;
  padding: 75px 55px;
  margin: 0 auto;
  border-radius: 50%;
}
.form-container .title{
  color: rgba(255,255,255,0.8);
    font-family: 'Teko', sans-serif;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0 0 10px 0;
}
.form-horizontal .form-group{
    background-color: rgba(255,255,255,0.15);
    font-size: 0;
    margin: 0 0 15px;
    border: 1px solid #838585;
    border-radius: 3px;
}
.form-horizontal .input-icon{
    color: #838585;
    font-size: 16px;
    text-align: center;
    line-height: 48px;
    height: 45px;
    width: 40px;
    vertical-align: top;
    display: inline-block;
}
.form-horizontal .form-control{
  color: rgba(255,255,255,0.8);
    background-color: transparent;
    font-size: 14px;
    letter-spacing: 1px;
    width: calc(100% - 55px);
    height: 45px;
    padding: 2px 10px 0 0;
    box-shadow: none;
    border: none;
    border-radius: 0;
    display: inline-block;
    transition: all 0.3s;
}
.form-horizontal .form-control:focus{
    box-shadow: none;
    border: none;
}
.form-horizontal .form-control::placeholder{
    color: #838585;
    font-size: 13px;
    text-transform: capitalize;
}
.form-horizontal .btn {
  color: rgba(255,255,255,0.8);
  background: linear-gradient(to right,#A92369 40%, #e74d5c);
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 120px;
  height: 120px;
  line-height: 120px;
  margin: 0 0 15px 0;
  border: none;
  border-radius: 50%;
  display: inline-block;
  transform: translateX(30px);
  transition: all 0.3s ease;
  border: 1px solid #e74d5c;
  box-shadow: 6px -5px 6px 0px rgb(128 60 128 / 64%);
}
.form-horizontal .btn:hover,
.form-horizontal .btn:focus{
    color: #fff;
    letter-spacing: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.form-horizontal .forgot-pass{
    font-size: 12px;
    text-align: left;
    width: calc(100% - 125px);
    display: inline-block;
    vertical-align: top;
}
.form-horizontal .forgot-pass a{
    color: #999;
    transition: all 0.3s ease;
}
.form-horizontal .forgot-pass a:hover{
    color: #555;
    text-decoration: underline;
}
@media only screen and (max-width:379px){
    .form-container .form-horizontal{
        width: 100%;
    }
}

.row {
  justify-content: center;
}

input::placeholder  { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffffcc;
}

